body{font-family: arial, sans-serif }

h1{
    color: #FFD700;
    background-color: blue;
    padding: 10px;
    margin: 0px;
}

h2{
    color: #FF0000;
    border: 3px solid #008000;
    width: 450px;
    margin: 0px;
    margin-left: 40px;
    
}

p{
    margin: 0px;
    margin-left: 80px;
    
}

